<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ENTER STYLESHEETS HERE -->
    <title>{{ _target.title }} | [ENTER PROJECT NAME] UI Component Library</title>
</head>
<body class="js no-touch preview">
    
    <p>Lorem ipsum {{ yield }} adipiscing elit.</p>

</body>
</html>